.custom-card-link:hover .custom-card {
    
    transform: translateY(-5px); /* Efecto hover para elevar la carta */
    transition: transform 0.2s ease; /* Añade una transición suave */
    
       
}
.custom-card {
    border: none; /* Quita el borde de las cartas */
    box-shadow: 2px 2px 5px #888888; /* Añade sombra en los bordes */
    margin-bottom: 20px; /* Añade espacio entre las cartas */
}

.custom-card-link {
    text-decoration: none; /* Quita la decoración de los enlaces */
}
/* Estilos para el componente de inicio del menú */

.inicio-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .carousel-container {
    width: 50%; /* Ajusta el ancho del carrusel según sea necesario */
  }
  
  .texto-container {
    width: 45%; /* Ajusta el ancho del contenedor de texto según sea necesario */
  }
  
  /* Añade estilos adicionales según lo necesites */
  

