/* Estilo del contenedor */
.container-box {
  background-color: #333; /* Gris oscuro */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las cartas */
  justify-content: center; /* Centra las cartas si no llenan una fila completa */
}
/* Estilo adicional para centrar el título */
.text-center {
  text-align: center;
  margin-bottom: 20px; /* Asegura un poco de espacio entre el título y las cartas */
}


/* Estilo de las cartas */
.card {
  background-color: red; /* Fondo rojo */
  color: white; /* Texto blanco */
  font-weight: bold; /* Texto en negrilla */
  width: 250px; /* Ancho fijo */
  margin-bottom: 20px; /* Espacio debajo de cada carta */
}

.card .btn-success {
  background-color: #28a745; /* Opcional: personaliza el color del botón si es necesario */
}
  