/* Agrega estos estilos en tu archivo Crud.css */

.action-button {
  margin-right: 10px; /* Espacio entre los botones de acción */
}

.crud-buttons {
  margin-top: 10px; /* Espacio entre los botones "Nueva Categoría" y "Volver" */
}

/* Colores de los botones de acción */
.action-button button {
  margin-right: 5px; /* Espacio entre los botones de acción CRUD */
}

.action-button button.btn-primary {
  background-color: #007bff; /* Color azul */
  border-color: #007bff;
}

.action-button button.btn-primary:hover {
  background-color: #0056b3; /* Color azul oscuro al pasar el mouse */
  border-color: #0056b3;
}

.action-button button.btn-danger {
  background-color: #dc3545; /* Color rojo */
  border-color: #dc3545;
}

.action-button button.btn-danger:hover {
  background-color: #c82333; /* Color rojo oscuro al pasar el mouse */
  border-color: #c82333;
}

.button-container {
  margin-bottom: 10px; /* Ajusta el margen inferior según necesites */
}

.button-container .btn {
  margin-right: 10px; /* Espacio entre botones */
}


