/* InicioSesionEstilo2.css */
.container-box {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #222; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333; /* Fondo de las cartas */
  color: #fff; /* Texto blanco */
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ff5555; /* Icono rojo */
}

.card-link {
  text-decoration: none;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ff5555;
}

.card-description {
  margin: 10px 0;
  color: #ddd; /* Descripción gris claro */
  text-decoration: none;
}

.card-button {
  margin-top: 20px;
  background-color: #ff5555;
  color:#ddd;
}
