/* App.css */

.page {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
 

}

.sidebar {
  width: 250px; /* Ancho de la barra lateral */
  background-color: #d62121; /* Color de fondo de la barra lateral */
  color: #fff; /* Color del texto de la barra lateral */
  padding: 20px;
}

main {
  flex: 1; /* El contenido principal ocupa el espacio restante */
  overflow: hidden; /* Evita el scroll en el contenido principal */
}

.top-row {
  background-color:  #d62121; /* Color de fondo de la barra superior */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  height: 100%; /* Ocupa toda la altura del contenedor principal */
  overflow: auto; /* Agrega scroll si el contenido es demasiado grande */
  background-color:beige;
}

